<template name="main">
<link rel="shortcut icon" href="favicon.ico" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123174980-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-123174980-2');
</script>

  <div class="canvas-container">
    <canvas id="map-canvas"></canvas>
    <img src="BottomLines.png" class="ak-hi-container hide"/>
  </div>
  
  <div class="touch-icons hide">
    <img src="hand.png" class="touch-icon center-touch-icon hide"/>
    <!-- <img src="hand.png" class="touch-icon icon-1 hide"/>
    <img src="hand.png" class="touch-icon  icon-2 hide"/>
    <img src="hand.png" class="touch-icon icon-3 hide"/>
    <img src="hand.png" class="touch-icon icon-4 hide"/> -->
  </div>

  <!-- <div id="text-overlays">
    <div class="text-overlay hide">
      <div class="name">
      </div>
      <div class="classification">
      </div>
    </div>
  </div> -->
  <div id="text-overlays">
    <div class="text-overlay hide">
      <ul class="names">
        <li class="name"></li>
      </ul>
    </div>
  </div>
  <div class="small-state-labels day-2">
    <div class="small-state-label" data-state="Rhode-Island" data-offset-x="-10">
      Rhode Island
    </div>
    <div class="small-state-label" data-state="Delaware" data-offset-y="-15">
      Delaware
    </div>
    <div class="small-state-label" data-state="District-of-Columbia" data-offset-y="0">
      Washington, D.C.
    </div>
    <div class="small-state-label" data-state="Maryland" data-offset-y="15">
      Maryland
    </div>
  </div>

  <div class="content-container">
    <div class="logo-container">
      <img class="logo" src="logo.png"/>
    </div>
    <div class="top-text">

      <div class="title day-1">Welcome!</div>
      <div class="title day-2">Tap a State</div>

      <div class="subtitle day-1">
        <span class="check-in-count">{{ checkinCount }}</span><span> attendees have arrived!</span>
      </div>
      <div class="subtitle day-2">
        to meet our Session <span class='session-text'></span> attendees
      </div>
    </div>
    <div class="time-temp-container">
      <div class="temperature">
      </div>
      <div class="time">
      </div>
    </div>
    <div class="check-ins-list-container day-1">
      <!-- <div class="subtitle">
        Welcome
      </div> -->
      <div class="check-in-item hide animated flipInX original">
        <div class="img-container">
          <img src="" class="attendee-img hidden"/>
        </div>
        <div class="check-in-info">
          <div class="check-in-name"></div>
          <div class="origin-and-badges">
            <div class="check-in-origin"></div>
            <div class="check-in-badge">
              <img src="cc.png" class="chairmans-circle hide"/>
              <img src="pc.png" class="presidents-club hide"/>
              <img src="lc.png" class="leaders-club hide"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="attendees-container day-2">
      <div class="has-scan hide">
        <div class="title">Hello<br> 
          <span class="scan-name"></span>
        </div>
        <!-- <div class="subtitle">
          Find new friends and build your network
        </div> -->
      </div>
      <div class="active-container hide">

        <div class="attendees-list-container">
          <div class="title">
            <span class="state-name"></span> Attendees
          </div>
          <div class="attendees-list">
          </div>
        </div>
        {{#with selectedAttendee }}
        <div class="selected-attendee hide">
          <button class="show-results">
            &lt; Back to results
          </button>
          <div class="image-initials-container">
            <div class="initials-container hide">
              <div class="attendee-initials"></div>
            </div>
            <img src="{{imgSrc}}" id="selected-attendee-img" class="attendee-img hide"/>
          </div>
          <!-- <img src="{{imgSrc}}" class="attendee-img {{#unless hasImage}}hide{{/unless}}"/> -->
          <div class="name">{{ name }}</div>
          <div class="classification info">{{ classifications }}</div>
          <div class="location info">{{ location }}</div>
          {{#if years}}
          <div class="years info">{{ years }} Years of Service</div>
          {{/if}}
          <div class="fun-facts-container {{#unless hasFunFacts }}hide{{/unless}}">
            <div class="title">
              Fun Facts:
            </div>
            <div class="fun-facts-list">
              <!-- <div class="fun-facts-item">{{key}}: {{ value }}</div> -->
              {{#each funFacts }}
              <div class="fun-facts-item">
                <span class="fun-fact-key">{{ key }}</span><br>
                <span class="fun-fact-value">{{ value }}</span>
              </div>
              {{/each}}
              <!-- <div class="fun-facts-item">{{ fact2 }}</div>
              <div class="fun-facts-item">{{ fact3 }}</div> -->
            </div>
          </div>
        </div>
        {{/with}}
      </div>
      <div class="day-2 reset-btn"></div>
    </div>
  </div>
  <div id="refresh">
  </div>
</template>
