@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url('/fonts/SF-Pro-Display-Black.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url('/fonts/SF-Pro-Display-Bold.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url('/fonts/SF-Pro-Display-Heavy.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url('/fonts/SF-Pro-Display-Light.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url('/fonts/SF-Pro-Display-Medium.otf') format("opentype");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url('/fonts/SF-Pro-Display-Regular.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url('/fonts/SF-Pro-Display-Semibold.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url('/fonts/SF-Pro-Display-Thin.otf') format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url('/fonts/SF-Pro-Display-Ultralight.otf') format("opentype");
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url('/fonts/SF-Pro-Text-Bold.otf') format("opentype");
}

/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-BoldItalic.otf') format("opentype");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url('/fonts/SF-Pro-Text-Heavy.otf') format("opentype");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-HeavyItalic.otf') format("opentype");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url('/fonts/SF-Pro-Text-Light.otf') format("opentype");
}

/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-HeavyItalic.otf') format("opentype");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url('/fonts/SF-Pro-Text-Medium.otf') format("opentype");
}

/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-MediumItalic.otf') format("opentype");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url('/fonts/SF-Pro-Text-Regular.otf') format("opentype");
}

/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-RegularItalic.otf') format("opentype");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url('/fonts/SF-Pro-Text-Semibold.otf') format("opentype");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-SemiboldItalic.otf') format("opentype");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url('/fonts/SF-Pro-Text-Ultrathin.otf') format("opentype");
}

/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/SF-Pro-Text-UltrathinItalic.otf') format("opentype");
}

body {
  /* cursor: none; */
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*, body {
  margin: 0;
  /* font-family: Arial; */
  font-family: 'SF Display';
  cursor: none;
  touch-action: none;
}

.hide {
  display: none !important;
}

div.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(bg.png);
  background-size: 100vw 100vh;
}

canvas#map-canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#text-overlays>div {
  position: fixed;
  border-radius: 10px;
  /* opacity: 1.0; */
  opacity: 0.8;
  background-color: #E0E0E0;
  border: 2px solid gray;
  max-width: 200px;
  min-width: 100px;
  /* min-height: 40px; */
  padding: 10px;
}

#text-overlays .names {
  list-style: none;
  padding: 0;
}

#text-overlay.hide {
  display: none;
}

.content-container {}

.time-temp-container {
  position: absolute;
  top: 2vh;
  right: 4vw;
  font-size: 30px;
}

.time-temp-container>div {
  color: #FFFFFF;
  font-weight: bold;
  display: inline;
}

.time-temp-container .temperature {
  margin-right: 20px;
}

.content-container .top-text {
  position: absolute;
  top: 2vh;
  left: 33vw;
  font-weight: bold;
}

.content-container .top-text .title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 4.0vw;
  margin-bottom: 0px;
  text-align: center;
}

.content-container .top-text .subtitle {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.5vw;
}

.content-container .check-ins-list-container .subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-container .logo-container {
  position: absolute;
  top: 3vh;
  left: 1.25vw;
  pointer-events: none;
}

.content-container .logo {
  width: 18vw;
}

.content-container .check-ins-list-container {
  position: absolute;
  /* top: calc(33vh - 48px); */
  top: calc(33vh - 100px);
  margin-top: 15px;
  left: 20px;
  color: white;
  font-weight: bold;
  font-size: 2.0vh;
  /* height: calc(66vh - 30px + 60px); */
  overflow: hidden;
  /* bottom: 0; */
  /*
    display: inline-flex;
    flex-direction: column;
   */
}

.content-container .check-ins-list-container .check-in-item {
  /* height: calc( 66vh / 12 + 6px); */
  /* font-size: 20px; */
  font-size: 30px;
  /* padding-bottom: 7px; */
  display: flex;
  padding: 5px 0px;
  /* transition: all 1s ease; */
}

.content-container .check-ins-list-container .check-in-info {
  display: flex;
  width: 100%;
  order: 1;
  justify-content: center;
  flex-direction: column;
  height: 45px;
  padding-top: 5px;
  margin-left: 10px;
}

.content-container .check-ins-list-container .check-in-item .origin-and-badges {
  display: flex;
  order: 2;
}

.content-container .check-ins-list-container .check-in-item .check-in-name {
  flex: 1;
  order: 1;
  padding-bottom: 0px;
}

.content-container .check-ins-list-container .check-in-item .check-in-badge {
  /* align-self: flex-end; */
  /* float: right; */
  /* vertical-align: bottom; */
  order: 2;
  flex-grow: 1;
}


.chairmans-circle,
.leaders-club,
.presidents-club {
  /* width: 2.75vw;
    height: 2.75vw; */
  width: 30px;
  height: 30px;
  float: right;
  padding-right: 5px;
}

.content-container .check-ins-list-container .check-in-item .check-in-origin {
  /* font-size: 16px; */
  font-size: 20px;
  order: 1;
}

.content-container .check-ins-list-container .check-in-item .attendee-img.hidden {
  visibility: hidden;
}

.content-container .check-ins-list-container .check-in-item .img-container {
  height: 66px;
}

.content-container .check-ins-list-container .check-in-item .attendee-img {
  /* width: 8vw;
    height: 8vw;
    border-radius: 4vw; */
  /* width: 2.75vw;
    height: 2.75vw; */
  width: 60px;
  height: 60px;
  /* border-radius: 2vw; */
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 10px;
  /* margin-right: 10px; */
  align-self: flex-start;
  object-fit: cover;
}

.attendees-container .has-scan,
.attendees-container .active-container {
  position: absolute;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

.attendees-container .has-scan {
  /* width: 20vw; */
  width: 30vw;
  top: 33vh;
}

.attendees-container .has-scan .title {
  /* font-size: 3.5vw; */
  font-size: 4vw;
  /* font-size: 2.75vw; */
  /* font-weight: bold; */
  line-height: 4vw;
  margin-bottom: 10px
}

.attendees-container .has-scan .subtitle {
  font-size: 1.8vw;
  line-height: 2.4vw;
}

.attendees-container .has-scan .scan-name {
  font-weight: bold;
  font-size: 3vw;
}

.attendees-container .active-container {
  top: 27vh;
  width: 22vw;
}

.attendees-container .active-container .title {
  font-weight: bold;
  font-size: 1.8vw;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.attendees-list-container, .attendees-list-item {
  touch-action: pan-y;
}

.attendees-container .active-container .attendees-list-container .title {
  border-bottom: 1px solid white;
}

.attendees-container .attendees-list {
  height: 55vh;
  overflow-y: scroll;
  touch-action: pan-y;
  /* cursor: none; */
}

.attendees-container .attendees-list::-webkit-scrollbar {

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.attendees-container .attendees-list::-webkit-scrollbar-thumb {
  background-color: white;
  opacity: 1.0;
  border-radius: 8px;
}

.attendees-container .attendees-list-container .attendees-list-item {
  font-size: 1.5vw;
  margin: 5px 0px;
  cursor: pointer;
}

.selected-attendee {
  padding-left: 15px;
}

.selected-attendee .show-results {
  margin-left: -20px;
  border: 1px solid #4a4a4a;
  border-radius: 6px;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

.selected-attendee .attendee-img {
  /* width: 8vw;
  height: 8vw; */
  width: 100px;
  height: 100px;
  border-radius: 4vw;
  border: 3px solid black;
  margin-bottom: 10px;
}

.selected-attendee .image-initials-container {
  height: 125px;
}

.selected-attendee .initials-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100px;
  height: 100px;
  border-radius: 4vw;
  border: 3px solid black;
  margin-bottom: 10px;
  justify-items: center;
  align-items: center;
}

.selected-attendee .initials-container.hidden {
  visibility: hidden;
}

.selected-attendee .attendee-initials {
  font-size: 2.25em;
  /* width: inherit;
  height: inherit;
  border-radius: 4vw;
  border: 3px solid black; */
}

.selected-attendee .name {
  font-weight: bold;
  font-size: 1.8vw;
}

.selected-attendee .info {
  font-size: 1.5vw;
  margin: 2px 0px;
}

.selected-attendee .fun-facts-container {
  margin-top: 20px;
}

.selected-attendee .fun-facts-container .title {
  width: 15vw;
  font-weight: initial;
  margin-bottom: 0px;
  /* text-decoration: underline; */
}

.selected-attendee .fun-facts-container .title .first-name {
  font-weight: bold;
}

.selected-attendee .fun-facts-container .fun-facts-item {
  font-size: 1.5vw;
  margin-top: 5px;
}

.selected-attendee .fun-facts-container .fun-facts-item .fun-fact-key {
  /* font-weight: bold; */
  font-size: 1.25vw
}

.selected-attendee .fun-facts-container .fun-facts-item .fun-fact-value {
  font-weight: bold;
}

.ak-hi-container {
  position: absolute;
  width: 30vw;
  height: auto;
  z-index: 3;
  pointer-events: none;
}

.reset-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

.hidden-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
}

.small-state-labels>div {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-size: 1vw;
  font-weight: bold;
  padding: 1px 3px;
  top: -20px;
}

.small-state-labels {
  transition: opacity 0.5s;
  opacity: 1.0;
}

.small-state-labels.fade {
  pointer-events: none;
  opacity: 0;
}

.small-state-labels>div:nth-child(even) {
  background-color: #a4a4a4;
}

.touch-icons>img {
  animation: touchicon 8.0s infinite;
  position: fixed;
  width: 10vw;
  height: auto;
  pointer-events: none;
  z-index: 100;
}

.touch-icons img.center-touch-icon {
  animation: centertouchicon 6.0s infinite;
}

.touch-icons img.icon-1 {}

.touch-icons img.icon-2 {
  animation-delay: 2s;
}

.touch-icons img.icon-3 {
  animation-delay: 4s;
}

.touch-icons img.icon-4 {
  animation-delay: 6s;
}

.touch-icons>img.animate {}

@keyframes touchicon {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  10% {
    transform: scale(1);
    opacity: 1.0;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
  /*
    0% { transform: translateY(0px); opacity: 1;}
    50% { transform: translateY(500px); opacity: 1;}
    100% { transform: translateY(0px); opacity: 1; }
*/
}

@keyframes centertouchicon {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

#refresh {
  width: 5vw;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}