<template name="time">
  <div class="time-container">
    <button class="decrease">-</button>

    <div class="seconds-container">
      {{ idleTimeoutDuration }} secs
    </div>

  <button class="increase">+</button>

  </div>

</template>
