.time-container {
    cursor: initial;
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}
.time-container > *{
    margin: auto auto;
}
.time-container button {
    background-color: white;
    width: 20vw;
    height: 20vw;
    border: none;
    border-radius: 8px;
    font-size: 10vw;
}
.time-container .seconds-container {
    font-size: 10vw;
    color: white;
}